*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  background: none rgb(248, 245, 245);
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --accent-color: #304FFE;
  --accent-color-dark: #1a171c;
  --accent-color-light: #f5f5f5;
  --minmax-width:200px;
}

.fadeTop {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 1s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.w-100{
  width: 100%
}

.d-flex{
  display: flex;
}

.text-center{
  text-align: center;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-evenly{
  justify-content: space-evenly;
}

.flex-direction-column{
  flex-direction: column;
}

.d-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--minmax-width), 1fr));
}

.mr-2{
  margin-right: 1rem;
}
.mt-2{
  margin-top: 1rem;
}
.mb-2{
  margin-bottom: 1rem;
}

.mb-3{
  margin-bottom: 1.5rem;
}

.padding-left-right-80{
  padding: 0 80px;
}

.btn-cart{
  position: relative;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 15px;
}

.btn-cart .material-icons-two-tone{
  font-size:30px;
}

.btn-cart .cantidad{
  position: absolute;
  left: 1.2em;
  top: -1.1em;
  padding: 0.2em 0.6em;
  background-color: #304FFE;
  border-radius: 50%;
  color: #FFF;
}

.btn{
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 500px;
  font-weight: 500;
  transition: all .4s ease-in-out;
  background-size: 152% 100%;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary{
  background: transparent;
  border: 2px solid #304FFE;
  color: #304FFE;
  box-shadow: rgba(38, 49, 91, 0.08) 2px -4px 8px 0px inset;
}

.btn-light{
  background: transparent;
  border: 1px solid #3333331a;
  color: #304FFE;
  box-shadow: rgb(0 0 0 / 8%) 2px -4px 8px 0px inset;
}

.btn-primary:hover{
  background: #304FFE;
  border-color: #304FFE;
  color: #FFF
}

.btn-light:hover{
  background: #304FFE;
  border-color: #304FFE;
  color: #FFF
}


.header-logo-search{
  width: 500px

}

.header-logo-search img{
  width: 120px;

}

.div-search{
  background-color:#BDBDBD;
  border-radius: 24px;
  padding: 5px;
  width: 60%;
}

.div-search-mobile{
  width: 100% !important;
  background-color: #eff1f8;
  border-radius: 0;
  display: none;
  box-shadow: rgb(0 0 0 / 8%) 2px -4px 8px 0px inset;
}

.div-search input{
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 24px;
  font-size: 16px;
}

.div-search button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #fff;
}

.div-search-mobile button{
  width: 45px;
  height: 45px;
}

.header{
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  height: 90px;
  z-index: 1;
  top: 0;
  box-shadow: rgb(0 0 0 / 8%) 2px -4px 8px 0px inset;
}

.nav__mobile{
  position: fixed;
  width: 100%;
  background-color: palevioletred;
  bottom: 0;
  z-index: 99;
}


.hero{
  position: relative;
  width:100%;
  /*height: 60vh;*/
  background-color:#1a171c;
  margin-top: 90px;
}

/**
Carrousel
*/
.carrousel{
  width: 90%;
  max-width: 120em;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}

.carrousel .grande{
  position: relative;
  background-color:#1a171c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.slider__btn{
  top: 45%;
  position: absolute;
  color: #FFF;
  cursor: pointer;
}

.slider__btn--left{
  right: 93%;
}

.slider__btn--right{
  right: 5%;
}

.carrousel .img{
  /*width: calc(100% / 5);*/
  border-radius: 12px;
}

.carrousel .puntos{
  list-style: none;
  width: 100%;
  padding: 0.5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color:#1a171c;
}

.carrousel .punto{
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: #FFFFFF;
  margin: 1em;
  cursor: pointer;
  border: 2px solid #333333;
  box-shadow: 2px 2px 10px -1px #8393a9,
        -2px -2px 10px -2px #7b868b;
}

.carrousel .punto.active{
  background-color: #304FFE;
  box-shadow: 2px 2px 10px -1px #2a80f6,
        -2px -2px 10px -2px #53c7fc;
}

.card{
  position: relative;
  background-color: #FFFFFF;
  text-align: center;
  width:100%;
  border-radius: 12px;
  padding: 10px;
  /*box-shadow: 2px 2px 10px -1px #8393a9,
        -2px -2px 10px -2px #7b868b;*/
  box-shadow: rgb(0 0 0 / 8%) 2px -4px 8px 0px inset;
  transition: all 0.3s;
}

.card .oferta{
  font-size: 12px;
  position: absolute;
  top: 1.1%;
  right: 3%;
  background-color: rgba(254, 48, 48, 0.79);
  color: #ffffff;
  border-radius: 12px;
  padding: 0.5em;
  font-weight: bold;
}

.card img{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card .card-item-info{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #ffffff;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
}

.items-productos{
  margin-bottom: 5em;
}

.category-title{
  margin-top: 2rem;
  margin-bottom: 1em;
}

.card-item-info .actions, .card-item-info .actions button{
  width: 100%;
}

.card-item-info .actions{
  margin-top: 1em;
}

.detalles{
  text-decoration: none;
  margin-bottom: 1em;
  color: #333333;
  transition: all 0.3s;
}

.detalles:hover{
  color: #304FFE;
}


/**
Formulario
*/
.input-container, .textarea-container {
  background-color: #ffffff;
  position: relative;
  border-radius: 4px 4px 0 0;
  height: 56px;
  transition: background-color 500ms;
}

.textarea-container{
  height: auto;
}


.input-container:hover, .textarea-container:hover {
  background-color: #ececec;
}

.input-container:focus-within, .textarea-container:focus-within {
  background-color: #dcdcdc;
}

.input-container label, .textarea-container label {
  font-weight: bold;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: rgba(0, 0, 0, 0.5);
  transform-origin: left top;
  user-select: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

.textarea-container label {

  top: 12%;

}

input.form-control, textarea.form-control, select.form-control {
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  caret-color: var(--accent-color);
  border: 2px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.42);
  color: rgba(0, 0, 0, 0.87);
  transition: border 500ms;
  padding: 20px 16px 6px;
  font-size: 1rem;
}

input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
  outline: none;
  border-bottom-width: 2px;
  border-bottom-color: var(--accent-color);
}

input.form-control:focus + label, textarea.form-control:focus + label, select.form-control:focus + label {
  color: var(--accent-color);
}

input.form-control:focus + label,
input.is-valid + label,
textarea.form-control:focus + label,
textarea.is-valid + label,
select.form-control:focus + label,
select.is-valid + label{
  transform: translateY(-100%) scale(0.75);
}

.info{
  background: #E8E6EA;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.info__left--lista ul{
  flex: auto;
}

.info__left--lista{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.info__left--lista ul li{
  list-style: none;
  padding: 0.5rem 0;
}

.info__left--lista ul li a{
  position: relative;
  text-decoration: none;
  color: #37474F;
  transition: all 0.3s;
  font-weight: bold;
  padding: 5px 0;

}

.info__left--lista ul li a:hover{
  color: #304FFE;
}

.info__left--lista ul li a:after{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #304FFE;
  transition: .3s;
  bottom: 0;
}

.info__left--lista ul li a:hover:after{
  width: 100%
}
/* Validación de formulario */

.error {
  text-align: left;
  width : 100%;
  padding: 0;
  font-size: 80%;
  color: #ff0a0a;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  font-weight: bold;
  float: left;
}

.error.active {
  padding: 0.8em;
}

/**
Login
*/
.login, .productos-admin{
  background: none rgb(248, 245, 245);
  padding-top: 5em;
  padding-bottom:5em;
}

.div__login{
  width: 30%;
  margin: 0 auto;

}

.add-producto{
  background: none rgb(248, 245, 245);
}

.div__add-producto{
  width: 50%;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom:5em;

}

.footer{
  text-transform: uppercase;
  background-color: #21232f;
  height: 150px;
  color: #fff;
}

.footer-content__left img{
  width: 50%;
}

/**
Cart
*/
.cart{
  position: fixed;
  width: 450px;
  background: none rgb(248, 245, 245);
  z-index: 999;
  height: 100vh;
  right: 0;
  top: 0;
  box-shadow: rgb(0 0 0 / 8%) 2px -4px 8px 1px inset;
  margin-right: -450px;
  transition: all 0.3s;
}

.cart.show{
  margin-right: 0;
}

.cart__header{
  height: 60px;
  background: #4f5057;
  position: relative;
  padding: 0 15px;
  justify-content: flex-end;
  align-items: center;
}

.cart__content {
  padding: 1rem;
  width: 100%;
  overflow-y: auto;
}

.cart__content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.cart__content .cart__item {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  padding: 0.5rem 0;
  font-size: 12px;
  box-shadow: rgb(0 0 0 / 8%) 2px -4px 8px 1px inset;
}

.cart__content .cart__item div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem;
  flex-direction: column
}

.cart__item--img{
  width: 20%;
}

img.cart-img{
  width: 100%;
  background-color:#fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.item__btn{
  padding: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.item__btn:hover{
  background-color: #da2323;
  color: #fff;
  border-radius: 50%;
}

.cart__footer{
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: #4f5057;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
}

/*
Responsive
*/

@media screen and (min-width:100px) and (max-width:768px) {
  .wrapper{
    margin-top: 30px;
  }
  .padding-left-right-80{
    padding-left: 15px;
    padding-right: 15px;
  }

  .header{
    padding: 5px 3px
  }

  .div-search{
    display: none;
  }

  .div-search-mobile{
    display: flex;
  }

  .div__login, .div__add-producto{
    width: 100%;
  }

  .info, .info__left  {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .info__left--lista{
    margin-bottom: 1rem;
  }

  .info__left img{
    width: 50%;
  }

  .info__left--img{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer{
    margin-bottom: 40px;
  }
}
